# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
*.whl
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pyo
*.sqlite3
db.sqlite3
local_settings.py

# Django static and media files
staticfiles/
media/

# Django migrations
**/migrations/*

# PyCharm
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Environments
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/
__pycache__/
*.py[cod]

# Celery
celerybeat-schedule
celerybeat.pid

# Translations
*.mo

# Logs
*.log

# Sphinx documentation
docs/_build/

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Intellij
*.iml
*.iws
.idea/
*.ipr

# vscode
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Anaconda
.conda/
*.conda

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

apps/common/keys/projetofoodmanager-firebase.json
