{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Register - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static  'vendor/css/pages/page-auth.css' %}">
{% endblock page_css %}


{% block content %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">

      <!-- Register Card -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="{% url 'home' %}" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                <img src="{% static 'img/logo/logo.png' %}" alt="Logo" width="25" style=" border-radius: 4px;">
              </span>
              <span class="app-brand-text demo text-body fw-bold">{% get_theme_variables 'template_name' %}</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Welcome to GoodBites 🚀</h4>
          <p class="mb-4">Make manage you're business easy!</p>

          <form method="POST">
            {% csrf_token %}

            <!-- Name Field -->
            <div class="mb-3">
              <label for="email" class="form-label">{{ form.name.label }}</label>
              {{ form.name }}
              {% for error in form.name.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Company Field -->
            <div class="mb-3">
              <label for="email" class="form-label">{{ form.company.label }}</label>
              {{ form.company }}
              {% for error in form.company.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Email Field -->
            <div class="mb-3">
              <label for="email" class="form-label">{{ form.email.label }}</label>
              {{ form.email }}
              {% for error in form.email.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Password1 Field -->
            <div class="mb-3">
              <label for="email" class="form-label">{{ form.password1.label }}</label>
              {{ form.password1 }}
              {% for error in form.password1.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Password2 Field -->
            <div class="mb-3">
              <label for="email" class="form-label">{{ form.password2.label }}</label>
              {{ form.password2 }}
              {% for error in form.password2.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Terms and Conditions -->
            <div class="mb-3">
              <div class="form-check">
                {{ form.terms_and_conditions }}
                <label class="form-check-label" for="{{ form.terms_and_conditions.id_for_label }}">
                  I agree to the <a href="{% url 'terms_and_conditions' %}" target="_blank">terms and conditions</a>
                </label>
              </div>
              {% for error in form.terms_and_conditions.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <button class="btn btn-primary d-grid w-100">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
