{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Tables - Recipe's ETL Tasks{% endblock %}

{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Tables /</span> Recipe's ETL Tasks
</h4>


<!-- Basic Bootstrap Table -->
<div class="card">
  
  <div class="container-fluid d-flex align-items-center">
    <h5 class="card-header flex-grow-1">Recipe's ETL Tasks Table</h5>
    
    <a href="{% url 'recipe_task_create' %}" class="btn btn-primary">
      Create ETL Task
    </a>
  </div>
  
  <!-- Filter Form -->
  <form method="get" class="card py-3 mb-4">
    <div class="container-fluid d-flex align-items-center">
      
      <div class="col-md-2 pe-md-1">
        <label class="form-label">Type: </label>
        {{ filter.form.type}}
      </div>
      <div class="col-md-2 pe-md-1">
        <label class="form-label">Status: </label>
        {{ filter.form.status }}
      </div>
      <div class="col-md-2 pe-md-1">
        <label class="form-label">Started At: </label>
        {{ filter.form.started_at }}
      </div>
      <div class="col-md-2 pe-md-1">
        <label class="form-label">Finished At: </label>
        {{ filter.form.finished_at }}
      </div>
      <div class="col-md-4 text-end">
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </div>
    
  </form>
  
  <!-- Table -->
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Users</th>
          <th>Type</th>
          <th>Status</th>
          <th>Started At</th>
          <th>Finished At</th>
          <th>Max Records</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for task in page_obj %}
        <tr >
          <td>{{ task.id }}</td>
          <td>{{ task.user.name }}</td>
          <td>{{ task.get_type_display }}</td>
          <td><span class="badge 
            {% if task.status == 'STARTING' %}
                bg-label-primary
            {% elif task.status == 'RUNNING' %}
                bg-label-info
            {% elif task.status == 'CANCELED' %}
                bg-label-warning
            {% elif task.status == 'FAILED' %}
                bg-label-danger
            {% elif task.status == 'FINISHED' %}
                bg-label-success
            {% else %}
                bg-label-secondary
            {% endif %}
            me-1">{{ task.get_status_display }}</span></td>
          <td>{{ task.started_at }}</td>
          <td>{{ task.finished_at }}</td>
          <td>{{ task.max_records }}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'recipe_task_detail' task.id %}"><i class="bx bx-detail me-1"></i> Details</a>
                <a class="dropdown-item" href="{% url 'recipe_task_delete' task.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  {% include "default/pagination.html" %}
</div>
</div>
{% endblock %}
