{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Tables - Basic Tables{% endblock %}

{% block content %}

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Recipe / Tasks / </span> Create ETL Task
</h4>

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          <!-- Company field -->
          {{ form.company.label_tag }}
          <div class="col-md-12 mt-2 mb-3">
            {{ form.company }}
            {% if form.company.errors %}
              <div class="invalid-feedback d-block">
                {% for error in form.company.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <!-- Type field -->
          {{ form.type.label_tag }}
          <div class="col-md-12 mt-2 mb-3">
            {{ form.type }}
            {% if form.type.errors %}
              <div class="invalid-feedback d-block">
                {% for error in form.type.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <!-- Tasks Transformation field -->
          <div id="parent-tasks-transform" style="display: none;">
            {{ form.parent_tasks_transform.label_tag }}
            <div class="col-md-12 mt-2 mb-3">
              {{ form.parent_tasks_transform }}
              {% if form.parent_tasks_transform.errors %}
                <div class="invalid-feedback d-block">
                  {% for error in form.parent_tasks_transform.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>

          <!-- Tasks Extraction field -->
          <div id="parent-tasks-extract" style="display: none;">
            {{ form.parent_tasks_extract.label_tag }}
            <div class="col-md-12 mt-2 mb-3">
              {{ form.parent_tasks_extract }}
              {% if form.parent_tasks_extract.errors %}
                <div class="invalid-feedback d-block">
                  {% for error in form.parent_tasks_extract.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>

          <!-- Max records field -->
          {{ form.max_records.label_tag }}
          <div class="col-md-12 mt-2 mb-3">
            {{ form.max_records }}
            {% if form.max_records.errors %}
              <div class="invalid-feedback d-block">
                {% for error in form.max_records.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#id_type').change(function() {
      console.log($(this).val());
      if ($(this).val() === 'LOAD') {
        $('#parent-tasks-extract').hide()
        $('#parent-tasks-transform').show();
      } else if ($(this).val() === 'TRANSFORM') {
        $('#parent-tasks-transform').hide()
        $('#parent-tasks-extract').show();
      } else{
        $('#parent-tasks-extract').hide()
        $('#parent-tasks-transform').hide()

      }
    });
    
    // Trigger change event on page load if type is pre-selected
    $('#id_type').change();
  });
</script>
{% endblock %}
