

<!-- Pagination Controls -->
{% load custom_filters %}
  
<div class="pagination card py-3 mb-4 mt-4">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <span class="current me-2">
        {{log_total_pages}} Results.
      </span>


      {% if log_page > 1 %}
      <a href="?log_page={{ log_page|add:-1 }}" class="btn btn-outline-primary me-2">Previous</a>
      {% endif %}
      
      <span class="current me-2">
        Page {{ log_page }} of {{ log_total_pages }}.
      </span>
      
      {% if log_page < log_total_pages %}
      <a href="?log_page={{ log_page|add:1 }}" class="btn btn-outline-primary me-2">Next</a>
      
      {% endif %}
    </div>
    
  </div>
</div>