{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Company Details{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/extended-ui-perfect-scrollbar.js' %}"></script>
{% endblock page_js %}

{% block content %}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Companies / </span> Company {{instance.id}} Details
</h4>

<!-- Error Messages Container -->
{% if messages %}
<div class="col-12">
    <div class="alert alert-danger">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Details -->
<div class="row">

    <!-- Task Detail Card -->
    <div class="col-md-12 col-sm-12">
        <div class="card overflow-hidden mb-4" style="height: auto;">

            <!-- Card Header -->
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <h4 class="card-header">Company Details</h4>
                <!-- Top Options -->
                <div>
                
                    <!-- Edit Invitation -->
                    {% if can_edit_company %}
                    <a href="{% url 'company_edit' instance.id %}" class="btn btn-info py-1">
                        Edit
                    </a>
                    {% endif %}
                    
                    <!-- Delete Invitation -->
                    {% if can_delete_company %}
                    <a href="{% url 'company_delete' instance.id %}" class="btn btn-danger py-1">
                        Delete
                    </a>
                    {% endif %}
                </div>
            </div>
            
            <!-- Card Body -->
            <div class="card-body">
                <div class="row pb-3">

                    <!-- Name --> 
                    <div class="col-md-2">
                        <h6>Name:</h6>
                        <span id="status" class="badge bg-label-primary me-1">{{ instance.name }}</span>
                    </div>

                    <!-- Processes --> 
                    <div class="col-md-2">
                        <h6>Processes:</h6>
                        <span id="status" class="badge bg-label-primary me-1">{{ instance.processes }}</span>
                    </div>
                </div>

                <div class="row pb-3">

                    <!-- Company's User Account --> 
                    <div class="col-md-2">
                        <h6>Company's User Account:</h6>
                        <span id="status" class="badge bg-label-primary me-1">{{ instance.user_account }}</span>
                    </div>

                </div>

                <div class="row pb-3">

                    <!-- Images Bucket --> 
                    <div class="col-md-2">
                        <h6>Images Bucket:</h6>
                        <span id="status" class="badge bg-label-primary me-1">{{ instance.imgs_bucket }}</span>
                    </div>
                </div>

                

                <!-- Timing -->
                <div class="row">

                    <!-- Created At --> 
                    <div class="col-md-2">
                        <h6>Created At:</h6>
                        <span id="status" class="badge bg-label-primary me-1">{{ instance.created_at }}</span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Company Users Table Card -->
    <div class="col-12">
        <div class="card mb-4">

            <!-- Header -->
            <div class="container-fluid d-flex align-items-center">
                <h5 class="card-header flex-grow-1">Company Users List</h5>
            </div>

            <!-- Filter Form -->
            <form method="get" class="card py-3 mb-4">
                <div class="container-fluid d-flex align-items-center">
                
                <!-- Type Form -->
                <div class="col-md-2 pe-md-1">
                    <label class="form-label">{{ filter.form.type.label}}</label>
                    {{ filter.form.type}}
                </div>

                <!-- Is Active Form -->
                <div class="col-md-2 pe-md-1">
                    <label class="form-label">{{ filter.form.is_active.label}}</label>
                    {{ filter.form.is_active}}
                </div>

                <!-- Is Staff Form -->
                <div class="col-md-2 pe-md-1">
                    <label class="form-label">{{ filter.form.is_staff.label}}</label>
                    {{ filter.form.is_staff}}
                </div>
                

                <div class="col-md-6 text-end">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
                </div>
                
            </form>

            <!-- Table -->
            <div class="table-responsive text-nowrap">
                <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Is Active</th>
                    <th>Created At</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for user in page_obj %}
                    <tr >
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.type }}</td>
                    <td><span class="badge 
                        {% if user.is_active %}
                            bg-label-success
                        {% else %}
                            bg-label-danger
                        {% endif %}
                        me-1">{{ user.is_active}}</span></td>
                    <td>{{ user.created_at }}</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                            <div class="dropdown-menu">
                                {% if can_view_user %}
                                    <a class="dropdown-item" href="{% url 'user_detail' instance.id %}"><i class="bx bx-detail me-1"></i> Details</a>
                                {% endif %}

                                {% if can_edit_user %}
                                    <a class="dropdown-item" href="{% url 'user_edit' instance.id %}"><i class="bx bx-pencil me-1"></i> Edit</a>
                                {% endif %}
                                
                                {% if can_disable_user and instance.is_active %}
                                    <a class="dropdown-item" href="{% url 'user_disable' instance.id %}"><i class="bx bx-pencil me-1"></i> Disable</a>                    
                                {% endif %}

                                {% if can_enable_user and not instance.is_active  %}
                                    <a class="dropdown-item" href="{% url 'user_enable' instance.id %}"><i class="bx bx-pencil me-1"></i> Disable</a>                    
                                {% endif %}

                                {% if can_delete_user %}
                                    <a class="dropdown-item" href="{% url 'user_delete' instance.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            {% include "common/default/pagination.html" %}
        </div>
    </div>
</div>

{% endblock %}