{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Table - Companies{% endblock %}

{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Tables /</span> Companies
</h4>


<!-- Basic Bootstrap Table -->
<div class="card">
  
  <div class="container-fluid d-flex align-items-center">
    <h5 class="card-header flex-grow-1">Companies's Table</h5>
    
    {% if can_create_company %}
      <a href="{% url 'company_create' %}" class="btn btn-primary">
        Create Company
      </a>
    {% endif %}
    
  </div>
  
<!-- Filter Form -->
<form method="get" class="card py-3 mb-4">
  <div class="container-fluid d-flex justify-content-start align-items-center">
    
    <div class="col-md-2 pe-md-1">
      <label class="form-label">Processes: </label>
      {{ filter.form.processes}}
    </div>
    <div class="col-md-2 text-end ms-auto">
      <button type="submit" class="btn btn-primary">Filter</button>
    </div>
  </div>
  
</form>
  
  <!-- Table -->
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Company</th>
          <th>Processes</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for instance in page_obj %}
        <tr >
          <td>{{ instance.id }}</td>
          <td>{{ instance.name }}</td>
          <td>
            {% if instance.processes %}
              <span >{{ instance.processes }}</span>
            {% else %}
              <span >No Processes</span>
            {% endif %}
          </td>
          <td>{{ instance.created_at }}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                {% if can_view_company %}
                <a class="dropdown-item" href="{% url 'company_detail' instance.id %}"><i class="bx bx-detail me-1"></i> Details</a>
                {% endif %}

                {% if can_edit_company %}
                  <a class="dropdown-item" href="{% url 'company_edit' instance.id %}"><i class="bx bx-edit me-1"></i> Edit</a>
                {% endif %}

                {% if can_delete_company %}
                  <a class="dropdown-item" href="{% url 'company_delete' instance.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
                {% endif %}
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <!-- Pagination -->
  {% include "common/default/pagination.html" %}
</div>
</div>
{% endblock %}
