{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Tables - Users{% endblock %}

{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Tables /</span> Users
</h4>


<!-- Basic Bootstrap Table -->
<div class="card">
  
  <div class="container-fluid d-flex align-items-center">
    <h5 class="card-header flex-grow-1">User's table</h5>
    
    {% if can_invite_user %}
      <a href="{% url 'user_invite' %}" class="btn btn-primary">
        Invite User
      </a>
    {% endif %}
    
  </div>
  
  <!-- Filter Form -->
  <form method="get" class="card py-3 mb-4">
    <div class="container-fluid d-flex align-items-center">
      
      <!-- Type Form -->
      <div class="col-md-2 pe-md-1">
        <label class="form-label">{{ filter.form.type.label}}</label>
        {{ filter.form.type}}
      </div>

      <!-- Is Active Form -->
      <div class="col-md-2 pe-md-1">
        <label class="form-label">{{ filter.form.is_active.label}}</label>
        {{ filter.form.is_active}}
      </div>

      <!-- Is Staff Form -->
      <div class="col-md-2 pe-md-1">
        <label class="form-label">{{ filter.form.is_staff.label}}</label>
        {{ filter.form.is_staff}}
      </div>
      

      <div class="col-md-6 text-end">
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </div>
    
  </form>
  
  <!-- Table -->
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Email</th>
          <th class="text-center">Name</th>
          <th class="text-center">User Type</th>
          <th class="text-center">Enabled</th>
          <th class="text-center">Options</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
          {% for instance in page_obj %}
          <tr>
        <td class="text-center">{{ instance.id }}</td>
        <td class="text-center">{{ instance.email }}</td>
        <td class="text-center">{{ instance.name }}</td>
        <td class="text-center">{{ instance.get_type_display }}</td>
        <td class="text-center">
          <span class="badge 
            {% if instance.is_active %}
            bg-label-success
            {% else %}
          bg-label-danger
            {% endif %}
            me-1">{{ instance.is_active }}</span>
        </td>
        <td class="text-center">
          <div class="dropdown">
            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
            <div class="dropdown-menu">
          {% if can_view_user %}
              <a class="dropdown-item" href="{% url 'user_detail' instance.id %}"><i class="bx bx-detail me-1"></i> Details</a>
          {% endif %}
          {% if can_edit_user %}
              <a class="dropdown-item" href="{% url 'user_edit' instance.id %}"><i class="bx bx-pencil me-1"></i> Edit</a>
          {% endif %}
          {% if can_disable_user and instance.is_active %}
              <a class="dropdown-item" href="{% url 'user_disable' instance.id %}"><i class="bx bx-pencil me-1"></i> Disable</a>                    
          {% endif %}
          {% if can_enable_user and not instance.is_active  %}
              <a class="dropdown-item" href="{% url 'user_enable' instance.id %}"><i class="bx bx-pencil me-1"></i> Disable</a>                    
          {% endif %}
          {% if can_delete_user %}
              <a class="dropdown-item" href="{% url 'user_delete' instance.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
          {% endif %}
            </div>
          </div>
        </td>
          </tr>
          {% endfor %}
        
      </tbody>
    </table>
  </div>
   
  {% include "common/default/pagination.html" %}
</div>
</div>
{% endblock %}
